<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/assets/sun.png">
  <title>About</title>
</head>

<body>
  <div class="page">
    {{>header}}
    <h4> Hi! My name is {{name}}, thanks for visiting my Weather checking App site</h4>
    <p>I am a {{profession}} and this is a website I built as part of further learning Node.js. <br />
      <strong>The site was built using:</strong>
    </p>
    <ul>
      <li>Node.js</li>
      <li>Express</li>
      <li>npm</li>
      <li>Handlebars.js</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
    <div class="pic">
      <img class="portrait" src="/assets/pp.png" />
    </div>
  </div>
  {{>footer}}
</body>

</html>