<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/assets/sun.png">
  <title>Help</title>
</head>

<body>
  <div class="page">
    {{>header}}
    <h4> {{message}} </h4>
    <p> <strong>Email:</strong> {{contact}} </p>
    <a href="https://www.linkedin.com/in/benga-olasebikan/" target="_blank"> {{linkedIn}} </a>
  </div>
  {{>footer}}
</body>

</html>